@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color: #b2d1c9; */
  /* background: #26232c; */
}

.nev-el:hover {
  text-shadow: 0 0 1rem #b2d1c9;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #b2d1c9;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #71EAC6;
}

.bg-secondary2 {
  --tw-bg-opacity: 1;
  /* background-color: rgb(242 237 233 / var(--tw-bg-opacity)); */
  /* background-color: #D9D9D9; */
  background-color: rgb(217, 217, 217);
}

.bg-spanColor {
  --tw-bg-opacity: 1;
  /* background-color: rgb(197 177 159 / var(--tw-bg-opacity)); */
  background-color: grey;
}

.text-border {
  --tw-text-opacity: 1;
  color: rgb(100 86 73 / var(--tw-text-opacity));
}

.bg-secondary1 {
  --tw-bg-opacity: 1;
  /* background-color: rgb(192 165 142 / var(--tw-bg-opacity)); */
  background-color: grey;
}

.button_fancy__vhaj8 {
  background-color: transparent;
  box-sizing: border-box;
  /* color: rgb(255, 255, 255); */
  /* cursor: none; */
  display: inline-block;
  /* float: right; */
  font-weight: 700;
  letter-spacing: 0.05em;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  /* font-size: 13px; */
  border-width: 2px;
  border-style: solid;
  /* border-color: rgb(191, 165, 142); */
  border-color: grey;
  border-image: initial;
  border-radius: 0.5rem;
  margin: 0px;
  outline: none;
  overflow: visible;
  /* padding: 1.25em 2em; */
  text-decoration: none;
  transition: 0.3s ease-in-out;
  /* color: rgb(191, 165, 142); */
  color: grey;
}